*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
target/

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Jenkins local Maven repository folder
.repository/

# Builded war file
/docker/*.war
/docker/*.jar

# IntelliJ IDEA config files
tools/.idea/workspace.xml
tools/.idea/dictionaries/
tools/.idea/checkstyleidea-libs/
tools/.idea/dataSources*
tools/.idea/sonarlint*
