apiVersion: v1
kind: ReplicationController
metadata:
  name: orchestrator
  labels:
    service: orchestrator
    component: backend
spec:
  replicas: 1
  selector:
    service: orchestrator
    component: backend
  template:
    metadata:
      labels:
        service: orchestrator
        component: backend
    spec:
      containers:
      - name: orchestrator
        image: albertobrigandi/orchestrator:demo-0.0.3-SNAPSHOT
        imagePullPolicy: Always
        env:
          - name: ORCHESTRATOR_DB_ENDPOINT
            value: 'orchestrator-database:3306'
          - name: ORCHESTRATOR_DB_USER
            value: orchestrator
          - name: ORCHESTRATOR_DB_PWD
            value: password
          - name: WORKFLOW_DB_ENDPOINT
            value: 'workflow-database:3306'
          - name: WORKFLOW_DB_USER
            value: orchestrator
          - name: WORKFLOW_DB_PWD
            value: password
#          - name: IM_URL
#            value: "https://im:8800"
          - name: PROXY_DIR
            value: "file:/proxy/proxy.pem"
          - name: OPENNEBULA_AUTH_FILE_PATH
            value: "file:/secrets/opennebula-auth.dat"
          - name: OPENSTACK_AUTH_FILE_PATH
            value: "file:/secrets/openstack-auth.dat"
          - name: ONEDOCK_AUTH_FILE_PATH
            value: "file:/secrets/onedock-auth.dat"
        volumeMounts:
          - name: secrets
            mountPath: "/secrets"
            readOnly: true
          - name: orchestrator-volume
            mountPath: "/proxy"
        livenessProbe:
          httpGet:
            path: /orchestrator
            port: 8080
          initialDelaySeconds: 240
          timeoutSeconds: 5
        ports:
        - containerPort: 8080
      volumes:
        - name: secrets
          secret:
            secretName: "orchestrator-deploy-secrets"
        - name: orchestrator-volume
          persistentVolumeClaim:
            claimName: orchestrator-pvc

